body{
    font-family: 'Times New Roman', Times, serif;
}

h1#SecTitle{
    color: rgb(240, 96, 0);
    font-size: 18pt;
}

h2#PostName{
    color: rgb(255, 231, 20);
    font-size: 15pt;
}

p#JobDesc{
    color: white;
    font-size: 12pt;
}

div#infos{
    position: absolute;
    left:750pt;
    top:20pt;
    border: 5px solid rgb(0, 0, 48);
    background-color: rgb(74, 166, 253);
    padding: 20px;

}

div#infos:hover{
    background-color: rgb(0, 0, 182);
    transition-duration: 0.3s;
}

p#entry{
    font-size: 12pt;
    color: white;
}